.homer{
    position: absolute;
    bottom: 0;
    right: 0;
}

.homer__box{
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 399px;
    height: 177px;
}

#homer__head{
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all .5s ease-in-out;
}

.homer__box:hover #homer__head{
    bottom: 0;
}


#homer__hands{
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all .5s ease-in-out;
}

.homer__box:hover #homer__hands{
    bottom: 0;
}

.bubble{

    background-color: white;
    margin:  0 auto;
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 80%, 95.44% 85%, 85.58% 84.48%, 95% 85%, 85.58% 94.42%, 85.18% 84.48%, 5% 85%, 0% 80%, 0% 5%);
    position: fixed;
    right: 15px;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bubble__txt{
    color: var(--color-Pants);
     margin: 1rem 1rem 3rem;
}

.bubble__txt  p{
    margin-bottom: 1rem;
}

.link{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 1rem 0;
    height: 40px;
    position: relative;
}

.link:after{
    content: "";
    width: 102%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-AmarilloSimpson);
    position: absolute;
    z-index: -1;
    top: 0;
    left: -5px;
}

.links a:hover  ~ .link:after{
    width: 50%;
}



.link p{

    align-self: center;
    padding: auto;
    margin: auto .5rem;
}


.ateris, .dona{
    width: 32px;
    height: 32px;
}

